<div>
  {{#each searchedArtists}}
    <div>
      <article>
        <img src="{{this.images.0.url}}" alt="{{this.name}}" />
        <h2>{{this.name}}</h2>
        <button>
          <a href="/albums{{this.id}}">View albums</a>
        </button>
      </article>
    </div>
  {{/each}}
</div>